.chats .friend__column:nth-child(2) {
  height: 100%;
  align-self: flex-start;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.chats .friend__badge {
  margin-top: 7px;
  background-color: #dc5d46;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 13px;
}
